// Base styles

base-font-size = 62.5%;
font = "Helvetica Neue", helvetica, arial, sans-serif;

html {
  font-size: base-font-size;
}

// TODO: This seems ugly. But explorer is positioned so necessary to allow background
// colour in main. see explorer/style 
html,
body,
main {
  height: 100%;
}
