/**
 * Sandbox JSX sample
 *
 * - Copy this file and rename it to sandbox.jsx
 * - Follow the instructions in the comments below
 * - Load '/sandbox' in the browser
 */
module.exports = function() {
  var React = require('react');

  /*
  
  1.  Require the Components
  ==========================

      - Require any components you need by their name, e.g.

        var Header = require('header');
        var ConnectionList = require('connection-list');
        var Button = require('button');

  */

  React.render((<div>

    /* 

    2. Write JSX
    ============

      - Write any markup/jsx you want in here, e.g.
      
        <h1>A simple header</h1>
        <Header />
      
      - It can be nested however you want, e.g.
      
        <h1>A connection list</h1>
        <div>
          <p className="blahblah">
            <ConnectionList />
          </p>
        </div>

      - You can have multiple instances of the same component, e.g.

        <h1>Lots of buttons</h1>
        <Button color="blue" />
        <Button icon="next" />
        <Button disabled="true" />

    */

  </div>), document.getElementById('sandbox'));
};